arelle-release==2.42.1
attrs==26.1.0
bottle==0.13.4
certifi==2026.7.22
et_xmlfile==2.0.0
filelock==3.32.0
isodate==0.7.2
jaconv==0.5.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lxml==6.1.1
numpy==2.5.1
openpyxl==3.1.5
pillow==12.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
referencing==0.37.0
regex==2026.7.19
rpds-py==2026.6.3
six==1.17.0
truststore==0.10.4
typing_extensions==4.16.0
